body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#personal-image {
  width: 75%;
  height: 80%;
  border-radius: 50%;
}

#title {
  font-size: 280%;
}

#subtitle {
  font-size: 200%;
}

#subtitle-smaller {
  font-size: 170%;
}

.text {
  font-size: 120%;
  margin-left: 20px;
  margin-right: 20px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

form #message-area,
form #message-area-about {
  width: 80%;
}

form #message-area-about {
  width: 80%;
}

.navbar {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.navbar .nav-link {
  color: grey !important;
}

footer hr {
  border-top: 5px solid black;
}

footer p {
  font-size: 120%;
  color: darkgrey;
}

#about-image {
  width: 65%;
  height: 70%;
  border-radius: 50%;
}

.icon {
  margin-right: 20px;
}

.fa-linkedin {
  color: blue;
}

.fa-github {
  color: purple;
}

.fa-envelope {
  color: red;
}

.sth {
  margin-top: -60px;
}

#success-button {
  width: 100%;
}

.animation-box {
  animation: opacity-on-load 2s;
}

.slide-up {
  animation: slide-up 2s;
}

.slide-up-25 {
  animation: slide-up 2.5s;
}

.slide-up-30 {
  animation: slide-up 3s;
}

@keyframes opacity-on-load {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    line-height: 400%;
  }
  to {
    line-height: 150%;
  }
}
