body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer hr {
  border-top: 5px solid black;
}

footer p {
  font-size: 120%;
  color: rgb(67, 68, 69);
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

form #message-area,
form #message-area-about {
  width: 80%;
}

form #message-area-about {
  width: 80%;
}

/* *ID* */
#about-image {
  width: 250px;
  height: 330px;
  border-radius: 50%;
}

#personal-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

#subtitle {
  font-size: 200%;
}

#subtitle-small {
  font-size: 170%;
}

#subtitle-smaller {
  font-size: 150%;
  color: #6b6b6b;
}

#success-button {
  width: 100%;
}

#title {
  font-size: 280%;
}

/* *CLASSES* */

.icon {
  margin-right: 20px;
}

.sth {
  margin-top: -60px;
}

/* .animation-box {
  animation: opacity-on-load 2s;
} */

.fa-linkedin {
  color: blue;
}

.fa-github {
  color: purple;
}

.fa-envelope {
  color: red;
}

.navbar {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.nav-link-selected .nav-link-text {
  border-bottom: 4px solid #007bff;
}
.navbar .nav-link {
  color: grey !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-description {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar .nav-link:hover {
  color: #007bff;
  animation: scale-up-nav-link forwards 0.5s;
}

.navbar .nav-link:hover > span {
  color: #007bff;
}

.navbar .nav-link:not(:hover) {
  animation: scale-down-nav-link 0.25s;
}
.slide-right-to-left {
  animation: rightToLeftMedium 1s;
}

.slide-left-to-right {
  animation: leftToRight 1.25s;
}

.slide-right-to-left-2 {
  animation: rightToLeftMedium 1.5s;
}

.slide-left-to-right-2 {
  animation: leftToRight 1.75s;
}

.slide-right-to-left-3 {
  animation: rightToLeftMedium 2s;
}

.slide-left-to-right-3 {
  /* not used so far */
  animation: leftToRight 2s;
}

.slide-right-to-left-4 {
  animation: rightToLeftMedium 2.25s;
}

/* medium */

.slide-right-to-left-medium {
  animation: rightToLeftMedium 1s;
}

.slide-right-to-left-medium-2 {
  animation: rightToLeftMedium 1.5s;
}

.slide-right-to-left-medium-3 {
  animation: rightToLeftMedium 2s;
}

.slide-right-to-left-medium-4 {
  animation: rightToLeftMedium 2.25s;
}

.text {
  font-size: 100%;
  /* margin-left: 20px;
  margin-right: 20px; */
}

.side-container .card .card-body {
  padding: 1.1rem;
}

@keyframes opacity-on-load {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.projects-container .card:nth-child(even) {
  animation: rightToLeft 1.25s;
}
.projects-container .card:nth-child(odd) {
  animation: leftToRight 1.25s;
}

.side-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
/* *LOADER* */
.loader-stage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 45px;
  animation: opacity-on-load 2s;
}
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  color: #000;
}
.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #007bff;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

/* * KEYFRAMES * */
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.6em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.6em 0.6em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.6em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.6em 0.6em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.6em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.6em -0.6em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.6em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.6em -0.6em 0 0 currentcolor;
  }
}

@keyframes rightToLeft {
  0% {
    transform: translateX(15%);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes leftToRight {
  0% {
    transform: translateX(-15%);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes rightToLeftMedium {
  0% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes scale-up-portfolio-site-image {
  from {
    scale: 1;
  }
  to {
    scale: 2;
  }
}

@keyframes scale-up-nav-link {
  from {
    scale: 1;
  }
  to {
    scale: 1.2;
  }
}
@keyframes scale-down-nav-link {
  from {
    scale: 1.2;
  }
  to {
    scale: 1;
  }
}

/* * MEDIA * */

/* medium screens */
@media screen and (min-width: 664px) {
  #personal-image {
    width: 350px;
    height: 350px;
    border-radius: 50%;
  }
  #about-image {
    width: 350px;
    height: 470px;
    border-radius: 50%;
  }

  .portfolio-site-card:hover {
    animation: scale-up-portfolio-site-image forwards 2s;
    z-index: 10;
  }
}
/* large screens */
@media screen and (min-width: 992px) {
  .container {
    max-width: 75% !important;
  }
  .side-container {
    width: 12.5%;
    min-width: 12.5%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .curved-div svg {
    display: block;
  }
  .curved-div {
    background-image: url('./assets/wave.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
