body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer hr {
  border-top: 5px solid black;
}

footer p {
  font-size: 120%;
  color: darkgrey;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

form #message-area,
form #message-area-about {
  width: 80%;
}

form #message-area-about {
  width: 80%;
}

.icon {
  margin-right: 20px;
}

.sth {
  margin-top: -60px;
}

/* .animation-box {
  animation: opacity-on-load 2s;
} */

.fa-linkedin {
  color: blue;
}

.fa-github {
  color: purple;
}

.fa-envelope {
  color: red;
}

.navbar {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.navbar .nav-link {
  color: grey !important;
}

.slide-up {
  animation: slide-up 2s;
}

.slide-up-25 {
  animation: slide-up 2.5s;
}

.slide-up-30 {
  animation: slide-up 3s;
}

.text {
  font-size: 120%;
  margin-left: 20px;
  margin-right: 20px;
}

#about-image {
  width: 250px;
  height: 330px;
  border-radius: 50%;
}

#personal-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

#subtitle {
  font-size: 200%;
}

#subtitle-small {
  font-size: 170%;
}

#subtitle-smaller {
  font-size: 150%;
  color: #6b6b6b;
}

#success-button {
  width: 100%;
}

#title {
  font-size: 280%;
}

/* *LOADER* */
.loader-stage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 45px;
}
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  color: #000;
}
.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.6em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.6em 0.6em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.6em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.6em 0.6em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.6em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.6em -0.6em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.6em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.6em -0.6em 0 0 currentcolor;
  }
}

/* @keyframes opacity-on-load {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
} */

@keyframes slide-up {
  from {
    line-height: 400%;
  }
  to {
    line-height: 150%;
  }
}

@media screen and (min-width: 664px) {
  #personal-image {
    width: 350px;
    height: 350px;
    border-radius: 50%;
  }
  #about-image {
    width: 350px;
    height: 470px;
    border-radius: 50%;
  }
}
