@media (prefers-color-scheme: dark) {
  body {
    background: rgb(51, 116, 182);
    color: #334;
    outline: 5px dotted #000;
  }

  .dark {
    background: rgb(182, 51, 127);
    color: #334;
    outline: 5px dotted #000;
  }
}
